
.message-list {
  max-height: 400px;
  overflow-y: scroll;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.message-display {
  border: 1px solid black;
}

.message-display .text {
  padding: 1em .5em;
}

.message-display .edit-menu > * {
  float: right;
}

.hidden {
  display: none;
}